@import "./reset";
@import "./variable";
@import "./icon.scss";

#__nuxt {
  height: 100%;
}

.itv-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &.full {
    .itv-container {
      width: 100%;
      overflow: hidden;
    }
  }
}

.itv-nav {
  height: 50px;
  width: 100%;
  background: $white;
  z-index: 10;
  min-width: 1100px;
  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 100%;
    margin: auto;
    color: $font-sub;
    &-menu {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      line-height: 50px;
      .login {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          width: 1px;
          height: 20px;
          background: $border;
          transform: translateY(-50%);
        }
      }
      .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        vertical-align: middle;
      }
      .item {
        position: relative;
        float: left;
        display: inline-block;
        padding: 0 24px;
        height: 100%;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
        &.active {
          color: $font;
        }
        &__dropdown {
          position: absolute;
          top: 50px;
          left: 0;
          width: 100%;
          background: $white;
          line-height: normal;
          color: $font-sub;
          li {
            padding: 8px;
            text-align: center;
            &:not(:last-child) {
              border-bottom: 1px solid $border;
            }
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.itv-footer {
  position: relative;
  width: 100%;
  background: #353535;
  color: $white;
  font-size: 12px;
  &-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    padding: 20px 0;
    background: url("../pic-footer-contact.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 22px;
    text-align: center;
    .tel {
      font-size: 48px;
      font-weight: 500;
      img {
        width: 37px;
        height: 38px;
        vertical-align: middle;
        margin-right: 20px;
      }
    }
  }
  &-bd {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    &-item {
      flex: 1;
      margin-bottom: 16px;
      .logo {
        margin-bottom: 8px;
      }
      p {
        margin-top: 16px;
      }
    }
    &-item.nav {
      display: flex;
      justify-content: space-between;
      .title {
        opacity: .5;
      }
      .item {
        padding: 0 24px;
        li {
          padding-bottom: 16px;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &-item.qr-code {
      text-align: right;
    }
  }
  &-copy {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1100px;
    margin: auto;
    padding: 8px 0;
    border-top: 1px solid #4E4E4E;
    text-align: center;
    transform: translateX(-50%);
    opacity: .5;
  }
}

.itv-container {
  flex: 1;
  width: 1100px;
  overflow: hidden;
}

.itv-content {
  position: relative;
  height: 100%;
  width: 1100px;
  margin: auto;
}

.itv-breadcrumbs {
  line-height: 36px;
  font-size: 12px;
  color: $font-sub;
  &-item {
    i {
      display: inline-block;
      margin: 0 5px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.itv-banner {
  position: relative;
  text-align: left;
  &-cnt {
    position: absolute;
    top: 35%;
    left: 0;
    letter-spacing: 1.85px;
    z-index: 10;
    &__title {
      font-size: 48px;
      padding: 0;
      margin-bottom: 24px;
    }
    &__desc {
      font-size: 14px;
      color: $font-sub;
      width: 400px;
      margin-bottom: 32px;
    }
  }
}

.itv-table-header {
  color: $font-sub;
  background: $extra-light-gray;
  line-height: 42px;
}

.itv-card {
  padding: 48px;
  border-radius: 5px;
  background: $white;
}

.itv-buy {
  height: 300px;
  padding: 48px 0;
  background: $light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  &—form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 56px;
    height: 100%;
    &__title {
      font-size: 18px;
      color: $blue;
      text-align: right;
      margin-bottom: 24px;
    }
  }
  .qr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid $border;
    &-desc {
      margin-left: 24px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 16px;
    }
    p {
      color: $font-sub;
    }
  }
}

.itv-input-group {
  border: 1px solid $blue;
  &__input {
    height: 100%;
    padding: 0 16px;
    text-align: center;
  }
  &__button {
    border-radius: 0 !important;
    border: 0 !important;
  }
}

.itv-link {
  color: $blue;
  &:hover {
    filter: brightness(1.1);
  }
}

.itv-flex-justify--sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itv-dialog {
  &-title {
    text-align: center;
    margin-bottom: 48px;
  }
  &-form {
    margin-top: 56px;
    padding: 0 16px;
    &__item {
      display: flex;
      margin-top: 24px;
      padding: 5px;
      border-bottom: 1px solid $light-gray;
      align-items: center;
      &:focus{
        border-bottom: 1px solid $blue;
      }
      input {
        padding: 0 16px;
        flex: 1;
      }
      .form-code {
        padding: 0 8px;
      }
    }
    &__info {
      margin-top: 8px;
      height: 18px;
      font-size: 12px;
      color: $red;
      text-align: right;
    }
  }
  &-footer {
    padding: 24px 48px 32px;
    text-align: center;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}


