$blue: #3C90EF;
$light-blue: #F4F9FF;
$red: #FE5462;
$green: #5CDF97;
$yellow: #FFBD7A;
$font: #384450;
$font-sub: #8D99A6;
$gray: #BFBFBF;
$light-gray: #D9D9D9;
$extra-light-gray: #F2F2F2;
$border: #FAFAFA;
$bg: #FAFAFA;
$white: #FFFFFF;
$border-light: #EAEAEA;
